<div class="relative px-8">
  <div
    class="
      flex flex-col
      md:flex-row
      justify-between
      max-w-screen-xl
      mx-auto
      py-20
      md:py-24
      items-center
    "
  >
    <div class="md:w-6/12 flex-shrink-0 relative">
      <a
      (click)="navigate($event, item.primaryButton.href)" class="cursor-pointer"
      >
        <img
          [src]="item.image.url"
          [alt]="item.image.label"
          class="rounded-lg object-cover object-center cursor-pointer"
          style="width: 768px; height: 420px"
        />
      </a>
    </div>
    <div
      *ngIf="item.imagePosition === 'right'; else elseBlock"
      class="md:w-6/12 mt-16 md:mt-0 md:mr-12 lg:mr-16 md:order-first"
    >
      <div class="g:py-8 text-center md:text-left">
        <span
          *ngIf="item.tagline"
          class="
            font-bold
            text-primary-500 text-sm text-center
            md:text-left
            uppercase
          "
        >
          {{ item.tagline }}
        </span>
        <h2
          class="
            font-display
            text-4xl
            font-black
            text-secondary-500
            md:text-3xl
            lg:text-5xl
            tracking-wide
            text-center
            mt-4
            lg:leading-tight
            md:text-left
          "
        >
          {{ item.title }}
        </h2>
        <p
          class="
            mt-4
            text-center
            md:text-left
            text-sm
            md:text-base
            lg:text-lg
            font-medium
            leading-relaxed
            text-secondary-200
          "
        >
          {{ item.content }}
        </p>
        <a
          *ngIf="item.primaryButton"
          (click)="navigate($event, item.primaryButton.href)"
          [target]="item.primaryButton.target"
          class="
            inline-block
            mt-8
            md:mt-8
            px-8
            py-3
            border border-transparent
            text-base
            leading-6
            font-medium
            rounded-md
            text-white
            bg-primary-500
            hover:bg-primary-700
            focus:outline-none
            focus:border-primary-700
            focus:shadow-outline-indigo
            active:bg-indigo-700
            transition
            ease-in-out
            duration-150
          "
          >{{ item.primaryButton.text }}</a
        >
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="md:w-6/12 mt-16 md:mt-0 md:ml-12 lg:ml-16 md:order-last">
        <div class="g:py-8 text-center md:text-left">
          <span
            *ngIf="item.tagline"
            class="
              font-bold
              text-primary-500 text-sm text-center
              md:text-left
              uppercase
            "
          >
            {{ item.tagline }}
          </span>
          <h2
            class="
              font-display
              text-4xl
              font-black
              text-secondary-500
              md:text-3xl
              lg:text-5xl
              tracking-wide
              text-center
              mt-4
              lg:leading-tight
              md:text-left
            "
          >
            {{ item.title }}
          </h2>
          <p
            class="
              mt-4
              text-center
              md:text-left
              text-sm
              md:text-base
              lg:text-lg
              font-medium
              leading-relaxed
              text-secondary-200
            "
          >
            {{ item.content }}
          </p>
          <a
            *ngIf="item.primaryButton"
            [href]="item.primaryButton.href"
            [target]="item.primaryButton.target"
            class="
              inline-block
              mt-8
              md:mt-8
              px-8
              py-3
              border border-transparent
              text-base
              leading-6
              font-medium
              rounded-md
              text-white
              bg-primary-500
              hover:bg-primary-700
              focus:outline-none
              focus:border-primary-700
              focus:shadow-outline-indigo
              active:bg-indigo-700
              transition
              ease-in-out
              duration-150
            "
            >{{ item.primaryButton.text }}</a
          >
        </div>
      </div>
    </ng-template>
  </div>
</div>
