<div class="bg-agility relative px-8 text-gray-200">
  <div class="flex justify-between items-center max-w-screen-xl mx-auto">
    <div class="flex items-center">
      <span class="p-2 rounded-lg mr-4">
        <a href="https://www.agilitycms.com" target="_blank" rel="noreferrer" title="Agility CMS">
          <img src="https://static.agilitycms.com/brand/agility-triangle-yellow.svg" alt="Agility CMS"
            class="w-5 h-5 block md:hidden" />
          <img src="/images/agility-preview-logo.svg" alt="Agility CMS" class="h-5 w-20 hidden md:block" />
        </a>
      </span>
      <div class="mr-4">
        <a href="https://help.agilitycms.com/hc/en-us" target="_blank" rel="noreferrer" title="Help Center"
          class="text-2xl">
          <div class="flex items-center">
            <fa-icon class="mr-2" [icon]="faInfoCircle"></fa-icon>
            <p class="hidden md:block text-sm">Help Center</p>
          </div>
        </a>
      </div>
      <div>
        <a href="https://github.com/agility/agilitycms-angular-starter" target="_blank" rel="noreferrer"
          title="View on GitHub" class="text-2xl">
          <div class="flex items-center">
            <fa-icon class="mr-2" [icon]="faGithub"></fa-icon>
            <p class="hidden md:block text-sm">View on GitHub</p>
          </div>
        </a>
      </div>
    </div>
    <div class="py-4">

      <div class="flex gap-4 items-center">

        <p class="text-xs md:text-base">
          {{ isPreview ? 'Previewing' : 'Viewing' }} 
          <span class="font-bold">{{ isPreview ? 'Latest' : 'Published'}}</span> 
          {{ isPreview ? 'Changes' : 'Content' }}
        </p>

        <div><button (click)="togglePreviewMode()" class="bg-yellow-500 px-4 py-2 text-gray-800 hover:bg-yellow-600">
            {{ isPreview ? 'View Published' : 'Preview Mode' }}
          </button></div>
      </div>
    </div>
  </div>
</div>